/* Desktop */

@media (min-width: 769px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        margin: 0;
        padding: 0;
        border: 0;

        width: 100%;
        min-height: 100vh;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        height: 95vh;

        background: url(../../img/bg_hero_desktop.svg), var(--neutral-vpc);
        background-position-x: 50%;
        background-position-y: 70%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header div.header-top {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 32px;

    }

    header div.header-top img {
        height: 32px;
    }

    header div.header-top a {
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 600;
        background-color: #fff;

        -webkit-box-shadow: 1px 1px 15px 5px rgba(194, 194, 194, 0.28);
        box-shadow: 1px 1px 15px 5px rgba(194, 194, 194, 0.28);
        padding: 12px 64px;
        border-radius: 999px;
    }

    header div.header-hero {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header div.header-hero div.hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;

        max-width: 45vw;
    }

    header div.header-hero div.hero-text h2 {
        font-size: 40px;
        max-width: 80%;
        text-transform: capitalize;
    }

    header div.header-hero div.hero-text p {
        max-width: 82.5%;
    }

    header div.header-hero div.hero-text a {
        background-color: var(--primary);

        text-decoration: none;
        text-transform: capitalize;
        font-weight: 600;
        color: #FFFFFF;
        text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);


        padding: 12px 64px;
        border-radius: 999px;
    }

    header div.header-hero div.hero-img {
        background-image: url(../../img/illustration_mockups.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 45vw;
        height: 70vh;
    }

    section {}

    section div.card {
        height: 95vh;
        display: flex;
        flex-direction: row;
        padding: 5%;
        margin: 5%;
        box-shadow: 5px 5px 24px -5px #000000;
    }

    section div.card div.card-text {}

    section div.card div.card-text h2 {
        font-size: xx-small;
    }

    section div.card div.card-text p {}

    section div.card div.card-img {}

    div.cta {}

    div.cta h2 {}

    div.cta a#cta-btn {}

    footer {}

    footer div.footer-content {}

    footer div.footer-content div.content-logo {}

    footer div.footer-content div.content-list {}

    footer div.footer-content div.content-list ul.contact-list {}

    footer div.footer-content div.content-list ul.contact-list li.contact-adress {}

    footer div.footer-content div.content-list ul.contact-list li.contact-number {}

    footer div.footer-content div.content-list ul.contact-list li.contact-email {}

    footer div.footer-content div.content-list ul {}

    footer div.footer-content div.content-list ul li {}

    footer div.footer-content div.content-list ul.social-list {}

    footer div.footer-content div.content-list ul.social-list li {}

    footer div.footer-content div.content-list ul.social-list li a {}

    footer div.copyright {}

}