@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  --primary: hsl(322, 100%, 66%);
  --neutral-vpc: hsl(193, 100%, 96%);
  --neutral-vdc: hsl(192, 100%, 9%);
  --neutral-gb: hsl(208, 11%, 55%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--neutral-vdc);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  height: 95vh;

  background: url(../img/bg_hero_desktop.svg), var(--neutral-vpc);
  background-position-x: 50%;
  background-position-y: 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

header div.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 32px;
}

header div.header-top img {
  height: 32px;
}

header div.header-top a {
  background-color: white;
}

header div.header-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header div.header-hero div.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;

  max-width: 45vw;
}

header div.header-hero div.hero-text h2 {
  font-size: 40px;
  max-width: 80%;
}

header div.header-hero div.hero-text p {
  max-width: 82.5%;
}

header div.header-hero div.hero-text a {
}

header div.header-hero div.hero-img {
  background-image: url(../img/illustration_mockups.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 45vw;
  height: 70vh;
}

section {
}

section div.card {
  height: 95vh;
  display: flex;
  flex-direction: row;
  padding: 5%;
  margin: 5%;
  box-shadow: 5px 5px 24px -5px #000000;
}

section div.card div.card-text {
}

section div.card div.card-text h2 {
  font-size: xx-small;
}

section div.card div.card-text p {
  font-size: ;
}

section div.card div.card-img {
}

/* div.cta {
}

div.cta h2 {
}

div.cta a#cta-btn {
}

footer {
}

footer div.footer-content {
}

footer div.footer-content div.content-logo {
}

footer div.footer-content div.content-list {
}

footer div.footer-content div.content-list ul.contact-list {
}

footer div.footer-content div.content-list ul.contact-list li.contact-adress {
}

footer div.footer-content div.content-list ul.contact-list li.contact-number {
}

footer div.footer-content div.content-list ul.contact-list li.contact-email {
}

footer div.footer-content div.content-list ul {
}

footer div.footer-content div.content-list ul li {
}

footer div.footer-content div.content-list ul.social-list {
}

footer div.footer-content div.content-list ul.social-list li {
}

footer div.footer-content div.content-list ul.social-list li a {
}

footer div.copyright {
} */
